<%- include('partials/header') %>
        <div class="centerdiv">
            <h1>My Gallery</h1>
            <h2>This is my basic gallery with pictures</h2>
        </div>
        <div class="container">
            
            <div class="img-grid">
              <img src="https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg" alt="">
              <img src="https://static.pexels.com/photos/356056/pexels-photo-356056.jpeg" alt="">
              <img src="https://static.pexels.com/photos/373076/pexels-photo-373076.jpeg" alt="">
              <img src="https://static.pexels.com/photos/158826/structure-light-led-movement-158826.jpeg" alt="">
              <img src="https://static.pexels.com/photos/50711/board-electronics-computer-data-processing-50711.jpeg" alt="">
              <img src="https://static.pexels.com/photos/247932/pexels-photo-247932.jpeg" alt="">
              <img src="https://static.pexels.com/photos/96381/pexels-photo-96381.jpeg" alt="">
              <img src="https://static.pexels.com/photos/450035/pexels-photo-450035.jpeg" alt="">
            </div>
          </div>
          <%- include('partials/footer') %>